<!--header-->
<ul class="nav nav-tabs">
    <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Home</a></li>
    <li ng-class="{active: activeTab === 'account'}"><a ui-sref="account">Account</a></li>
    <li ng-if="vm.user.e1Status==0 || vm.user.e2Status==0" ng-class="{active: activeTab === 'vote'}"><a ui-sref="vote">Vote</a></li>
    <li><a href="/login" target="_self">Logout</a></li>
</ul>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<h3>Available Elections:</h3>
<ul>
    <li ng-if="vm.user.e1Status==0"><a ui-sref="presidential">2016 presidential elections</a></li>
    <li ng-if="vm.user.state=='California' && vm.user.e2Status==0"><a ui-sref="california">2016 California state elections</a></li>
    <li ng-if="vm.user.e1Status==1 && vm.user.e2Status==1">No elections available</li>
</ul>