<!--header-->
<ul class="nav nav-tabs">
    <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Home</a></li>
    <li ng-class="{active: activeTab === 'account'}"><a ui-sref="account">Account</a></li>
    <li ng-if="vm.user.type==1" ng-class="{active: activeTab === 'vote'}"><a ui-sref="vote">Vote</a></li>
    <li ng-if="vm.user.type==3" ng-class="{active: activeTab == 'manager'}"><a ui-sref="manager">Manager</a></li>
    <li><a href="/login" target="_self">Logout</a></li>
</ul>
<div class="flash-message" ng-if="flash">
    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<h1>Welcome to the election manager</h1>